<div class="estructura">
  <div class="tracera">
  </div>
  <div class="frontal">
    <app-pantalla></app-pantalla>
    <div class="estructura-filas-botones">
      <div class="estructura-columnas-botones">
        <app-boton texto="C" fontsize="40px" bcolor="#C0646F"></app-boton>
        <app-boton texto="AC" fontsize="40px" bcolor="#C0646F"></app-boton>
        <app-boton texto="%"></app-boton>
        <app-boton texto="X"></app-boton>
      </div>
      <div class="estructura-columnas-botones">
        <app-boton texto="7"></app-boton>
        <app-boton texto="8"></app-boton>
        <app-boton texto="9"></app-boton>
        <app-boton texto="/"></app-boton>
      </div>
      <div class="estructura-columnas-botones">
        <app-boton texto="4"></app-boton>
        <app-boton texto="5"></app-boton>
        <app-boton texto="6"></app-boton>
        <app-boton texto="-"></app-boton>
      </div>
      <div class="orden-especial">
        <div class="orden-1">
          <div class="estructura-columnas-botones2">
            <app-boton texto="1"></app-boton>
            <app-boton texto="2"></app-boton>
            <app-boton texto="3"></app-boton>
          </div>
          <div class="estructura-columnas-botones2">
            <app-boton texto="."></app-boton>
            <app-boton texto="0"></app-boton>
            <app-boton texto="="></app-boton>
          </div>
        </div>
        <div class="estructura-columnas-botones3">
          <app-boton texto="+" altura="167px"></app-boton>
        </div>
      </div>
    </div>
    
  </div>
</div>
